@tailwind base;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --color-main: #2B4254;
    --color-primary: #BBA748;
    --color-primary-1: #AA8858;
    --color-background-1: #EDF3FB;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #EDF3FB;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 54px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}
table {
  border: 1px solid lightgray;
  border-spacing: 0;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid lightgray;
}

td:last-child {
  border: none;
}

td button {
  padding: 5px 10px;
  color: white;
  background-color: rgb(255, 103, 33);
}
@tailwind components;

.theme-dark {
  --color-main: #ff4141;
  --color-primary: rgb(72, 112, 187);
  --color-primary-1: #2f00ff;
  --color-background-1: #ffa4a4;
}

.theme-pink {
  --color-main: #FF82D9;
    --color-primary: rgb(255, 0, 255);
    --color-primary-1: #FF64FF;
    --color-background-1: #E6E6E6;
    --color-purple-800: #B86CFF;
    --background-color-button: var(--color-primary);
    --background-color-button-primary-hover: #F15C82;
}

tr:nth-child(even) {
  background-color: var(--color-background-1);
}
@tailwind utilities;